*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/kotlinc.xml
.idea/.name
.idea/compiler.xml
.idea/deploymentTargetSelector.xml
.idea/gradle.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/migrations.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
mobile-legends-guide/.idea/caches/deviceStreaming.xml
mobile-legends-guide/.idea/deploymentTargetSelector.xml
mobile-legends-guide/.idea/runConfigurations.xml
mobile-legends-guide/.idea/vcs.xml
mobile-legends-guide/.idea/workspace.xml
*.xml
